@import '../../scss/variables';

.CartItem {
    padding: 10px 0;

    &__wrap {
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__wrapper-img-title {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
    }

    &__img {
        flex: 0 0 226px;
        height: 226px;
        background-blend-mode: multiply;
    }

    &__wrapper-price {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__old-price {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: #B8B8B8;
        text-decoration: line-through;
    }

    &__new-price {
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        line-height: 46px;
        font-weight: 600;
        color: $darkSlateGray;
    }

    &__wrapper-quantity {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__quantity-label {
        white-space: nowrap;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        line-height: 46px;
        font-weight: 700;
    }

    &__quantity-wrapper-input {
        position: relative;
        min-width: 134px;
        height: 80px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid $darkSlateGray;
        overflow: hidden;
        text-align: center;
    }

    &__quantity-input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: $darkSlateGray;
        text-align: center;
        border: none;
        outline: none;
        background-color: transparent;
    }

    &__btn-cancel-order {
        position: absolute;
        top: 50%;
        right: -10%;
        transform: translate(0, -50%);
        width: 64px;
        height: 46px;
        border-radius: 16px;
        background-color: $darkSlateGray;
        cursor: pointer;
        transform: scale(1);
        transition: transform .3s ease;

        &:hover,
        &:focus {
            transform: scale(1.2);
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        
        &:hover::before,
        &:hover::after,
        &:focus::before,
        &:focus::after {
            background-color: $khaki;
        }
    }
}

@media (max-width:1639.98px) {}

@media (max-width:1439.98px) {
    .CartItem {

        &__wrap {
            align-items: flex-end;
            gap: 40px;
        }

        &__wrapper-img-title {
            flex-direction: column;
            align-items: flex-start;
            flex: 0 1 auto;
        }

        &__img {
            width: 226px;
        }

        &__wrapper-price {
            margin-left: auto;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        &__wrapper-quantity {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        &__quantity-label {
            order: 2;
        }

        &__quantity-wrapper-input {
            height: 70px;
            order: 1;
            margin-left: 0;
            padding: 20px 40px;
        }

    }
}

@media (max-width: 991.98px) {
    .CartItem {

        &__wrap {
            gap: 30px;
        }

        &__btn-cancel-order {
            top: 20%;
            right: 0;
            transform: translate(0, 0);
        }

        &__wrapper-quantity {
            align-items: flex-end;
        }

        &__quantity-wrapper-input {
            min-width: 110px;
            height: 60px;
        }
    }
}

@media (max-width: 767.98px) {
    .CartItem {

        &__wrap {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        &__wrapper-price {
            margin-left: 0;
        }

        &__wrapper-quantity {
            align-items: flex-start;
        }

        &__quantity-label {
            order: 1;
        }

        &__quantity {
            order: 2;
        }

        &__btn-cancel-order {
            top: auto;
            bottom: 0;
        }
    }
}