@import '../../scss/variables';

.Search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: 0 1 380px;
    height: 66px;
    padding: 5px 6px 5px 15px;
    border-radius: 36px;
    background-color: #FAFAFA;

    &__input {
        display: block;
        height: 100%;
        flex: 0 0 80%;
        border-radius: 36px 0 0 36px;
        background-color: #FAFAFA;
        border: none;
        outline: none;
        font-size: 18px;
        line-height: 26px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: $darkSlateGray;
    }

    &__button {
        flex: 0 0 56px;
        height: 56px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darkSeaGreen;
        border: none;
        cursor: pointer;
        @include noselect();

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 22px;
            background: no-repeat center center url(../../../public/img/icons/search-loupe.svg);
        }
    }
}

@media (max-width:1639.98px) {
    .Search {
        flex: 0 1 360px;
    }
}

@media (max-width:1439.98px) {
    .Search {
        flex: 0 1 30%;
        order: 4;
    }
}

@media (max-width: 1199.98px) {
    .Search {
        flex: 0 1 32%;
    }
}

@media (max-width: 991.98px) {
    .Search {
        flex: 0 1 46%;
        order: 2;
    }
}


@media (max-width: 767.98px) {
    .Search {
        order: 4;
        flex: 0 1 60%;
        margin-left: auto;
    }
}

@media (max-width: 575.98px) {
    .Search {
        flex: 0 1 100%;
        margin-left: 0;
        gap: 5px;
        padding: 5px;
    }
}