// colors

$darkSlateGray: #274C5B;
$darkSeaGreen: #7EB693;
$khaki: #EFD372;
$lightGray : #D4D4D4;
$snow : #F9F8F8;
$honeyDew : #EFF6F1;
$dimGray : #525C60;
$cartOrderBg : rgba(253, 176, 45, 0.16);

// mixins

@mixin noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

// text styles

%h1 {
    font-size: 70px;
    line-height: 82px;

    @media (max-width:1439.98px) {
        font-size: 62px;
        line-height: 72px;
    }

    @media (max-width: 991.98px) {
        font-size: 56px;
        line-height: 64px;
    }

    @media (max-width: 767.98px) {
        font-size: 50px;
        line-height: 58px;
    }

    @media (max-width: 575.98px) {
        font-size: 40px;
        line-height: 48px;
    }
}

%h2 {
    font-size: 50px;
    line-height: 59px;

    @media (max-width: 1199.98px) {
        font-size: 44px;
        line-height: 54px;
    }

    @media (max-width: 767.98px) {
        font-size: 38px;
        line-height: 46px;
    }
}

%h3 {
    font-size: 40px;
    line-height: 47px;

    @media (max-width: 1199.98px) {
        font-size: 38px;
        line-height: 46px;
    }

    @media (max-width: 991.98px) {
        font-size: 36px;
        line-height: 44px;
    }

    @media (max-width: 767.98px) {
        font-size: 34px;
        line-height: 40px;
    }
}

%h4 {
    font-size: 35px;
    line-height: 41px;
}

%h5 {
    font-size: 30px;
    line-height: 35px;
}

%h6 {
    font-size: 25px;
    line-height: 29px;
}

%p,
%li {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: $dimGray;
}

// button

%btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkSlateGray;
    gap: 10px;
    padding: 28px 39px;
    border-radius: 16px;
    border: 2px solid transparent;
    border: none;
    outline: none;
    cursor: pointer;
    @include noselect();

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}